*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	box-sizing: border-box;
}

.slider{
	position: relative;
	width: 100%;
}
.myslide{
	height: 655px;
	display: none;
	overflow: hidden;
}

.prev, .next{
	position: absolute;
	top: 50%;
	transform: translate(0, -50%);
	font-size: 50px;
	padding: 15px;
	cursor: pointer;
	color: black;
	transition: 0.1s;
	user-select: none;
}
.prev:hover, .next:hover{
	color: #2c3e50;
}
.next{
	right: 0;
}
.dotsbox{
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	bottom: 20px;
	cursor: pointer;
}
.dot{
	display: inline-block;
	width: 15px;
	height: 15px;
	border: 3px solid black;
	border-radius: 50%;
	margin: 0 8px;
	cursor: pointer;
}

/* javascript */
.active, .dot:hover{
	border-color: #2c3e50;
}
/* /javascript */

/* myslide add fade */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: 0.8}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: 0.8}
  to {opacity: 1}
}
/* /myslide add fade */

.txt{
	position: absolute;
	letter-spacing: 1px;
	line-height: 30px;
	top: 15%;
	left: 8%;
	-webkit-animation-name: posi;
  	-webkit-animation-duration: 1s;
  	animation-name: posi;
  	animation-duration: 1s;
	z-index: 1;
}

@-webkit-keyframes posi {
  from {left: 25%;}
  to {left: 8%;}
}


@keyframes posi {
  from {left: 25%;}
  to {left: 8%;}
}

.txt h1{
	color: #2c3e50;
	font-size: 40px;
	margin-bottom: 15px;
}
.txt p{
	font-weight: bold;
	color: black;
	font-size: 20px;
}

img{
	transform: scale(1, 1);
}

@media screen and (max-width: 520px){
	.txt h1{
		font-size: 30px;
		margin-bottom: 20px;
	}
	.sign{
		margin-right: 20px;
	}
	.sign a{
		font-size: 12px;
	}
}
















